:root {
    --codeBg: #e8e8e8;
}

p {
    margin-bottom: 1em;
}

code {
    background-color: var(--codeBg);    
    padding: 0.06em 0.2em;
    border-radius: 3px;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.4em;
    margin-top: 30px;
}

